body {
	background-color: rgb(55, 0, 110);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

section {
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.reloj {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
}